body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  color: purple;
  background-color: #d8da3d;
}
h1 {
  font-size: 500%;
}

h2 {
    color: black;
}

h3 {
    color: green;
    font-size: 800%;
}