body {
  font-family: Georgia, "Times New Roman",
        cursive, serif;
  color: purple;
  background-color: #d8da3d;
}

h1 {
  font-size: 400%;
  text-align: center;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    color: green;
    font-size: 600%;
    text-align: center;
}